{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "LabControl/header.html" %}

</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &nbsp;&nbsp;
            </div>

        </div>
    </div>
</header>
<!-- HEADER END-->
<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/lab_control/home">
                <h2 style="color:#faebd7">Lab    Monitoring</h2>
                <br>
            </a>

        </div>

        <div class="left-div">
            <div class="user-settings-wrapper">
                <ul class="nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="" href="#" aria-expanded="false">
                            <span class="glyphicon glyphicon-list-alt" style="font-size: 25px;"></span>
                        </a>
                        <div class="dropdown-menu dropdown-settings">
                            <div class="media">
                                <a class="media-left" href="#">
                                    <img src="assets/img/64-64.jpg" alt="" class="img-rounded" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Jhon Deo Alex </h4>
                                    <h5>Developer & Designer</h5>

                                </div>
                            </div>
                            <hr />
                            <h5><strong>Personal Bio : </strong></h5>
                            Anim pariatur cliche reprehen derit.
                            <hr />
                            <a href="#" class="btn btn-info btn-sm">Full Profile</a>&nbsp; <a href="login.html" class="btn btn-danger btn-sm">Logout</a>

                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="/lab_control/home/">Home</a></li>
                        <li><a href="/lab_control/add_lab/">Add Lab</a></li>
                        <li><a class="menu-top-active" href=".">Build Query</a></li>
                        <li><a href="/lab_control/sub_query/">Build Sub-Query</a></li>
                        <li><a href="/lab_control/results/">Results</a></li>
                        <li><a href="/lab_control/teacher_logout/">Logout</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <script type="text/javascript">
        var labs = {{labs|safe}};
        var sections = {{ section|safe }};
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Build Queries</h1>
            </div>
        </div>

        <form id="form" action="/server_client/get_parsed_query/" method="get">
        </form>
            <div class="row">
                <div id="blocklyDiv" style="height: 600px; max-width: 1200px;"></div>
                <xml id="toolbox" style="display: none">
                    <category name="Variables" colour="20">
                      <block type="math_number"></block>
                      <block type="text"></block>
                      <block type="logic_boolean"></block>
                      <block type="var"></block>
                      <block type="null"></block>
                    </category>
                    <category name="Client Queries" colour="120">
                      <category name="Get">
                          <block type="get"></block>
                      </category>
                      <category name="Chart">
                        <block type="existchart"></block>
                        <block type="chartdata"></block>
                      </category>
                      <category name="Filter">
                        <block type="filterobject"></block>
                        <block type="filtercomparable"></block>
                      </category>
                      <category name="Count">
                        <block type="count"></block>
                      </category>
                      <category name="Equal">
                        <block type="equal"></block>
                      </category>
                      <category name="Sort">
                        <block type="sort"></block>
                      </category>
                      <category name="Logic">
                        <block type="lists_logic"></block>
                        <block type="and"></block>
                        <block type="or"></block>
                      </category>
                      <category name="Min/Max">
                        <block type="min"></block>
                        <block type="max"></block>
                      </category>
                    </category>
                    <category name="Server Queries" colour="230">
                      <block type="serverget"></block>
                      <block type="serverfilter"></block>
                      <block type="servercount"></block>
                      <block type="servermin"></block>
                      <block type="servermax"></block>
                    </category>
                    <category name="Students" colour="65">
                      <block type="student"></block>
                      <block type="studentlist"></block>
                    </category>
                    <category name="Subquery" colour="330">
                      <block type="subquery"></block>
                    </category>
                </xml>
                <xml id="startBlocks" style="display: none">
                </xml>
            </div>
        <div class="row" id="seccion-lab">
                <br>
                <div id="section_div"></div>
                <div id="lab_div"></div>
                <br>
                {{ query_form.query_name }}
                <br>
            </div>
        <!--
            <div id="start">
                <label for="id_query_body">Build a query:</label>
                <br>
                {{ query_form.query_body }}
                <br>
                <!--<label for="subquery_body">Construya su consulta:</label>
                <div id="div_0-0"></div>
            </div> -->
            <button type="submit" class="btn btn-primary" onclick="showCode();return false">Run Query</button>


    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 2015 YourCompany | By : <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap</a>
            </div>

        </div>
    </div>
</footer>
<!-- FOOTER SECTION END-->
<!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY SCRIPTS -->
<script src="{% static 'LabControl/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'LabControl/js/query_dicts.js' %}"></script>
<script src="{% static 'LabControl/js/query_parser.js' %}"></script>
<script src="{% static 'LabControl/js/utils.js' %}"></script>
<script src="{% static 'LabControl/js/query_execution.js' %}"></script>
<script src="{% static 'LabControl/js/jquery-ui.min.js' %}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="{% static 'LabControl/js/bootstrap.js' %}"></script>

<!-- Blockly -->
<script src="{% static 'LabControl/blockly/google-blockly/blockly_compressed.js' %}"></script>
<script src="{% static 'LabControl/blockly/google-blockly/blocks_compressed.js' %}"></script>
<script src="{% static 'LabControl/blockly/google-blockly/javascript_compressed.js' %}"></script>
<script src="{% static 'LabControl/blockly/google-blockly/msg/js/en.js' %}"></script>

<script src="{% static 'LabControl/blockly/subqueries.js' %}"></script>

<script src="{% static 'LabControl/blockly/bloques/client_blocks.js' %}"></script>
<script src="{% static 'LabControl/blockly/bloques/server_blocks.js' %}"></script>
<script src="{% static 'LabControl/blockly/bloques/subqueries.js' %}"></script>
<script src="{% static 'LabControl/blockly/bloques/variables.js' %}"></script>

<script src="{% static 'LabControl/blockly/generators/client_blocks.js' %}"></script>
<script src="{% static 'LabControl/blockly/generators/subqueries.js' %}"></script>
<script src="{% static 'LabControl/blockly/generators/server_blocks.js' %}"></script>
<script src="{% static 'LabControl/blockly/generators/variables.js' %}"></script>



<script>
    var workspace = Blockly.inject('blocklyDiv',
            {media: "{% static 'LabControl/blockly/google-blockly/media/' %}",
                toolbox: document.getElementById('toolbox')});
    Blockly.Xml.domToWorkspace(workspace,
            document.getElementById('startBlocks'));


    function showCode() {
        // Generate JavaScript code and display it.
        Blockly.JavaScript.INFINITE_LOOP_TRAP = null;

        var blocks = workspace.getTopBlocks();

        if(blocks.length != 1){
            alert("Please provide one block to build the query");
            return;
        }
        var block = blocks[0];
        var type = block.previousConnection;
        if(type == null || !(type.getCheck()[0]=="SERVERTOPLEVEL" || type.getCheck()[0]=="SERVERFILTER")){
            alert("Please provide a valid top level query");
            return;
        }

        var code;
        try {
            code = Blockly.JavaScript.workspaceToCode(workspace);
        }
        catch(err) {
            alert("Query with missing inputs");
            console.log(err.message);
            return;
        }
        //alert(code);
        parseQuery(code);
    }
</script>

</body>
</html>
